
	*{
		box-sizing:border-box;
	}
	.clf{
		content: "";
		display:block;
		clear:both;
	}
	/*固定宽度容器*/
	.container{
		width: 100%;
		height: auto;
		display: block;
		margin-right: auto !important;
		margin-left: auto !important;
		padding-left: 15px;
		padding-right: 15px;
	}
	.container-fluid{
		width: 100%;
		height: auto;
		display: block;
		padding-left: 15px;
		padding-right: 15px;
	}
	.container .row,.container-fluid{
		width: 100%;
		display: block;
		margin-left: -15px;
		margin-right: -15px;
	}
	.container .row:after,.container-fluid:after{
		content: "";
		display: block;
		line-height: 0;
		height: 0;
		clear: both;
	}
	.img-response{
		max-width: 100%;
		height: auto;
		display: block;

	}
	[center-block]{
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	[center-text]{
		text-align: center;
	}
	[class*='col-']{
		padding-left:15px;
		padding-right:15px; 
	}
	/*默认手机*/
	.fl{
		float: left;
	}
	.fr{
		float: right;
	}
	.row .col-xs-1{
		width:8.333333%;
		display:block;
		float: left;
	}
	.row .col-xs-2{
		width:16.666666%;
		display:block;
		float: left;
	}
	.row .col-xs-3{
		width: 25%;
		display:block;
		float: left;
	}
	.row .col-xs-4{
		width:33.333333% ;
		display:block;
		float: left;
	}
	.row .col-xs-5{
		width:41.666666% ;
		display:block;
		float: left;
	}
	.row .col-xs-6{
		width:50%;
		display:block;
		float: left; 
	}
	.row .col-xs-7{
		width:58.333333% ;
		display:block;
		float: left;
	}
	.row .col-xs-8{
		width:66.666666% ;
		display:block;
		float: left;
	}
	.row .col-xs-9{
		width:75% ;
		display:block;
		float: left;
	}
	.row .col-xs-10{
		width:83.333333%;
		display:block;
		float: left; 
	}
	.row .col-xs-11{
		width:91.666666% ;
		display:block;
		float: left;
	}
	.row .col-xs-12{
		width:100% ;
		display:block;
		float: left;
	}

	/*>768平板*/
	@media screen and (min-width: 768px){

		.container{
			width:750px;
		}
		.row .col-sm-1{
			width:8.333333%;
			display:block;
			float: left;

		}
		.row .col-sm-2{
			width:16.666666%;
			display:block;
			float: left;
		}
		.row .col-sm-3{
			width: 25%;
			display:block;
			float: left;
		}
		.row .col-sm-4{
			width:33.333333% ;
			display:block;
			float: left;
		}
		.row .col-sm-5{
			width:41.666666% ;
			display:block;
			float: left;
		}
		.row .col-sm-6{
			width:50%;
			display:block;
			float: left; 
		}
		.row .col-sm-7{
			width:58.333333% ;
			display:block;
			float: left;
		}
		.row .col-sm-8{
			width:66.666666% ;
			display:block;
			float: left;
		}
		.row .col-sm-9{
			width:75% ;
			display:block;
			float: left;
		}
		.row .col-sm-10{
			width:83.333333%;
			display:block;
			float: left; 
		}
		.row .col-sm-11{
			width:91.666666% ;
			display:block;
			float: left;
		}
		.row .col-sm-12{
			width:100% ;
			display:block;
			float: left;
		}
	}
	@media screen and (min-width: 1000px){
		.container{
			width:970px;
		}
		.row .col-md-1{
		width:8.333333%;
		display:block;
		float: left;
		}
		.row .col-md-2{
			width:16.666666%;
			display:block;
			float: left;
		}
		.row .col-md-3{
			width: 25%;
			display:block;
			float: left;
		}
		.row .col-md-4{
			width:33.333333% ;
			display:block;
			float: left;
		}
		.row .col-md-5{
			width:41.666666% ;
			display:block;
			float: left;
		}
		.row .col-md-6{
			width:50%;
			display:block;
			float: left; 
		}
		.row .col-md-7{
			width:58.333333% ;
			display:block;
			float: left;
		}
		.row .col-md-8{
			width:66.666666% ;
			display:block;
			float: left;
		}
		.row .col-md-9{
			width:75% ;
			display:block;
			float: left;
		}
		.row .col-md-10{
			width:83.333333%;
			display:block;
			float: left; 
		}
		.row .col-md-11{
			width:91.666666% ;
			display:block;
			float: left;
		}
		.row .col-md-12{
			width:100% ;
			display:block;
			float: left;
		}
	}
	@media screen and (min-width: 1200px){
		.container{
			width:1170px;
		}
		.row .col-lg-1{
		width:8.333333%;
		display:block;
		float: left;
		}
		.row .col-lg-2{
			width:16.666666%;
			display:block;
			float: left;
		}
		.row .col-lg-3{
			width: 25%;
			display:block;
			float: left;
		}
		.row .col-lg-4{
			width:33.333333% ;
			display:block;
			float: left;
		}
		.row .col-lg-5{
			width:41.666666% ;
			display:block;
			float: left;
		}
		.row .col-lg-6{
			width:50%;
			display:block;
			float: left; 
		}
		.row .col-lg-7{
			width:58.333333% ;
			display:block;
			float: left;
		}
		.row .col-lg-8{
			width:66.666666% ;
			display:block;
			float: left;
		}
		.row .col-lg-9{
			width:75% ;
			display:block;
			float: left;
		}
		.row .col-lg-10{
			width:83.333333%;
			display:block;
			float: left; 
		}
		.row .col-lg-11{
			width:91.666666% ;
			display:block;
			float: left;
		}
		.row .col-lg-12{
			width:100% ;
			display:block;
			float: left;
		}
	}
	@media screen and (max-width: 768px){
		.hidden-xs{
			display: none !important;
		}
	}
	@media screen and (min-width: 768px) and (max-width: 1000px){
		.hidden-sm{
			display: none !important;
		}
	}
	@media screen and (min-width: 1000px) and (max-width: 1200px){
		.hidden-md{
			display: none !important;
		}
	}
	@media screen and (min-width: 1200px){
		.hidden-lg{
			display: none !important;
		}
	}